body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #8e8d8d;
    color: #030303;
    padding: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="countryname"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#result {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

#result span {
    display: block;
    margin-bottom: 10px;
}

#clean {
    background-color: #ccc;
    color: #333;
}

#clean:hover {
    background-color: #ddd;
}
