body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #c3c3c3;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: #000000;
}

h2 {
    font-size: 2em;
    color: #000000;
    text-align: center;
}

#dogImageContainer {
    text-align: center;
}

#dogImage {
    max-width: 100%;
    border-radius: 8px;
}


#dogImageContainer {
    text-align: center;
}

#dogImage {
    max-width: 100%;
    border-radius: 8px;
}

#breedButtonContainer {
    display: flex;
    align-items: flex-end;
    
}

#loadBreedButton {
    margin-top: 20px;
    padding: 10px;
    background-color: #eff1ef;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

