body {
    font-family: 'Arial', sans-serif;
    background-color: #eebdf0;
    margin: 0;
    padding: 0;
}

center {
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 2em;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

button#btnLimpiar {
    background-color: #e74c3c;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

thead th {
    background-color: #3498db;
    color: white;
    padding: 10px;
    text-align: center;
}

tbody td {
    padding: 10px;
}

.columna1 { width: 10%; }
.columna2 { width: 15%; }
.columna3 { width: 15%; }

tbody tr th{
    padding: 20px;
}
