div tr th{
    border: 10px solid rgb(195, 110, 245);
}
body{
    background-color: rgb(239, 188, 255);
    color: white;
}

#tabla{
    color: black;
    background-color: rgb(243, 183, 243);
    tr{  
        th{
            border-radius: 10px;
        } 
    }
}


#container{
    text-align: center;
}
